.photoshop{background: rgba(0, 0, 0, 0.4);min-height: fit-content;padding:  1rem;margin: 5rem 2rem 1rem;border-radius: 1.5rem;box-shadow: 0rem 0rem 0.4rem red;min-height: 80vh;font-family:helsinki,arial;display: flex;flex-direction: column;align-items: center;}
.mainTittle{margin-bottom: 1rem;}

.explain{margin-bottom: 2rem;font-size: 1.5rem;max-width: 45ch;color: whitesmoke;text-align: center;}
.photoshop article{background: rgba(94, 94, 94, 0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 2rem;display: flex;flex-direction: column;align-items: center;}

.mainTittle{color: white;}

.dualPics{display: flex;gap: 2em;flex-wrap: wrap;justify-content: center;}
.dualPics img{height: 60vh;flex-grow: 0;}

.beforeAfter{display: flex;gap: 1.5rem;justify-content: center;flex-direction: row;}

.theEnd{background: rgba(190, 43, 43, 0.445);border: 0;margin: 0.6rem;font-size: 1.4rem;text-decoration: none;color: rgb(255, 255, 255);padding: 0.6rem 2rem;border-radius: 0.4rem;font-family: arial;font-weight: bold;padding: 0.45rem 4rem;}

.theEnd:hover{cursor: pointer;}